.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color:dimgray;
  background-image:linear-gradient(79deg, #173e43, #3fb0ac, #fae596, #dddfd4);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 6rem;
    border: 2px solid dimgrey;
    border-radius: 2px;
    margin: 2rem;
    padding: 50px;
  }
}

.header-text {
  font-size: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border: 2px solid #173e43;
  background-color: #173e43;
  margin-bottom: 10%;
  color: var(--white);
  align-items: center;
}

label {
  text-align: left;
  padding: 0.40rem 0;
  margin-bottom: -8px;
}

input {
  margin: 0.5rem 0;
  padding: .75rem;
  border: none;
  border-radius: 3px;
}

.input-box {
  padding-left: 5px;
  width: 300px;
  height: 30px;
}

button {
  border: none;
  background-color:#dddfd4;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.hover {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  border: 1px solid dimgrey;
  background-color: #fae596;
  margin-top: 10px;
  padding: 8px;
}

.hover:hover {
  background-color: white;
  opacity: 0.4;
}

.link-btn {
  background: none;
  /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
  /* font-size: 20px; */
  padding-top: 6px;
  color: black;
  text-decoration: underline;
  margin-top: 10px;
}

/* Navbar styling */
.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  background-color:#dddfd4;
  color:#173e43;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 8rem;
  padding: 0 1rem;
}

.brandlogo {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.3rem;
  font-size: 8px;
  height: 2rem;
}

.navbar a {
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .15rem;
}

.navbar li.active {
  background-color: #dddfd4;
}

.navbar li:hover {
  background-color: #fae596;
}

 /*styling for donation page media queries*/
.donatePage {
  padding: 2rem;
  background: var(--medium-blue);
  display: flex;
  flex-direction: column;
}

@media (min-width: 499px) {
  .donatePage {
    height: 100vh;
  }
}

@media (min-width: 576px) {
  .donatePage {
    max-width: 35rem;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .donatePage {
    max-height: 45rem;
    max-width: 61rem;
    border-radius: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .donatePage {
    max-width: 70rem;
  }
}

