.HelpUsTitle {
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

.HelpUs {
  color: var(--white);
  flex: 1;
}

@media (min-width: 1200px) {
  .HelpUsTitle {
    font-size: 2rem;
  }
}

.HelpUs {
    color: var(--white);
    flex: 1;
  }
  
  .HelpUsParagraph {
    display: flex;
    font-weight: 600;
    line-height: 1.7rem;
    text-align: justify;
    
  }
  
  /* @media (min-width: 992px) {
    .HelpUs {
      max-width: 45%;
    }
    .HelpUsParagraph {
      max-width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .HelpUs {
      max-width: 50%;
    }
  } */