.about-text {
    font-size: 2rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: 2px solid var(--dark-green);
    background-color: var(--dark-green);
    color: var(--white);
    margin-bottom: 5%;
}

.about-info {
    margin-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5rem;
    color: var(--dark-green);
    /* border: 2px solid; */
    /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
}
